.page-login {
    width: 100%;
    height: 680px;
    /*margin-top: 150px;*/
    margin-bottom: 150px;
}
.page-login #form-signIn #form-bg {
    position: absolute;
    z-index: 1;
    margin-top: 80px;
    width: 100%;
}

.page-login #form-signIn #form-bg img {
    margin: 0;
    padding: 0;
}

.page-login #form-signIn .container {
    width: 450px;
    height: 650px;
    background-color: #f5f1f1;
    /*margin: 100px auto;*/
    border-radius: 5px;
    padding: 45px 45px 25px;
    text-align: center;
    position: absolute;
    z-index: 2;
    margin-top: 100px;
    margin-left: 50%;
    transform: translateX(-50%);

}
.page-login #form-signIn .container h3 {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    color: #111111;
    margin-bottom: 20px;
}
.page-login #form-signIn .form_input_group .input-group-control input {
    height: 53px;
    width: 300px;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 0 0 20px #f1f1f1;
    margin-bottom: 15px;
    cursor: pointer;
    border: 2px solid #cdcdcd;
    padding: 0 15px;
}

.page-login #form-signIn .form_input_group .btn-signIn {
    width: 300px;
    height: 45px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    border: none;
    background-color: #5867d7;
    box-shadow: 0 0 20px #f1f1f1;
    font-weight: bolder;
    cursor: pointer;
}
.page-login #form-signIn .container #forgot{
    display: flex;
    float: right;
    margin-bottom: 15px;
    margin-right: 30px;
}
.page-login #form-signIn .container #forgot .fg-left{
    border-right: 1px solid #cdcdcd;
    margin-right: 7px;
    padding-right: 7px;
}
.page-login #form-signIn .container #forgot  a:hover{
    color: #495bc7;
}
.page-login #form-signIn .form_input_group .btn-signIn:hover {
    background-color: #0136de;
}

.page-login #form-signIn .container #txt-loginWith {
    text-align: center;
    color: #b1b1b1;
}

.page-login #form-signIn .container #icon-socs {
    text-align: center;
    margin-top: 20px;
    display: flex;
}

.page-login #form-signIn .container #icon-socs button {
    color: white;
    background-color: #1877f2;
    border-radius: 5px;
    border: 2px solid #cdcdcd;
    width: 160px; /* Đã thay đổi chiều rộng để chứa icon và chữ */
    height: 40px;
    margin: 0px 17px 17px 17px;
    box-shadow: 0px 0px 5px #e7c6f3;
    display: flex; /* Đã thay đổi thành flex để căn giữa icon và chữ */
    align-items: center; /* Đã thay đổi thành flex-start để căn giữa icon và chữ theo chiều dọc */
}


.page-login #form-signIn .container #icon-socs .fa-facebook-f {
    color: white;
    font-size: 25px;
    margin: 7px;
    padding-right: 10px;
}

.page-login #form-signIn .container #icon-socs .fa-google {
    color: #EA4335;
    font-size: 25px;
    margin: 7px;
   padding-right: 15px;
}

.page-login #form-signIn .container  #sign_up {
    margin-top: 10px;
    text-align: center;
}

.page-login #form-signIn .container  #sign_up a {
    margin-top: 40px;
    text-decoration: none;
    color: #644369;
    font-size: 17px;
}
